{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 text-center">
            <div>
                <h2>Events Created</h2>
                <table class="table table-success">
                    <th>Meeting</th>
                    <th>View</th>

                    {% for events in event %}
                    <tr>  
                        <td>{{events.title}}</td>
                        <td><a href="{% url 'attend' %}">Attendee</a></td>  
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <h2>Accepted Events</h2>
                <table class="table table-hover">
                    <th>Meeting</th>
                    <th>Date</th>

                    <tr>
                        <td>R3</td>
                        <td>2020/12/07</td>
                    </tr>
                    <tr>
                    <td>R5</td>
                        <td>2020/12/07</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-lg-4 text-center">

                <a href="{% url 'event' %}"  class="btn btn-light" style="width:100%; color:rgb(11, 248, 11)"><h3>Add Events</h3></a>

                <!-- {{event.image}} -->
            <div class="events">

                {% for events in event %}
                <!-- <div class="col-10 mx-auto col-sm-6 col-lg-4 my-3"> -->
                    <div class="item-container">
                        <br><br><br>
                        <h3>{{events.title}}</h3>
                        <p>{{events.date}} </p>
                        <p>{{events.text}} </p>
                        <img src="/{{events.image}}" class="img-fluid img-thumbnail item-img" alt="" style="width:100%;">
                        
                    </div>
    
                    <form method="post" action="">
                        {% csrf_token %}
    
                        <input type="submit" class="btn btn-primary" value="Accept">
                       
                    </form>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-4 text-center">
                <h1 class="heading3">We Believe</h1><br>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/henry.jpg' %}" alt="Henry Ford">
                    <p><br>
                        Comming together is a beginning,<br>
                        Staying together is progress,<br>
                        and Working together is Success.<br><br>
                                            -Henry Ford<br><br><br>
                    </p>
                </div>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/helen.jpg' %}" alt="Henry Ford">
                    <p><br>
                        Alone we can do so little;<br>
                        together we can do so much.<br><br>
                        - Helen Keller<br><br><br>
                    </p>
                </div>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/Phill.jpg' %}" alt="Phil Jakson">
                    <p><br>
                        The strength of the team is individual membe,;<br>
                        The strength of each member is the team.<br><br>
                        - Phil Jackson
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}
