{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 text-center">
            <h1 class="profile">Profile</h1>
            <img class="img-fluid" src="{% static 'images/profile.png' %}" alt="User Image">
            <h4>
                Abhishek Chaudhary<br>
                Softwarica Collage<br>
                Dillibazar<br>
            </h4>
            <div>
                <h2>Events Created</h2>
                <table class="table table-success">
                    <th>Meeting</th>
                    <th>Edit</th>

                    <tr>
                        <td>R3</td>
                        <td><button><a href="{% url 'attend' %}">Attendee</a></button></td>
                    </tr>
                </table>
            </div>
            <div>
                <h2>Accepted Events</h2>
                <table class="table table-hover">
                    <th>Meeting</th>
                    <th>Date</th>

                    <tr>
                        <td>R3</td>
                        <td>2020/12/07</td>
                    </tr>
                    <tr>
                    <td>R5</td>
                        <td>2020/12/07</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <button style="width:auto;">
                <a href="{% url 'event' %}">Add Events</a></button>

            <h5 class="text-left">Anil Rai<br><p>By N.C Corporation</p></h5>
            <p>Hello everyone, new event is going to take place please visit<br>Date:2020/10/12</p>
            <img class="img-fluid" src="{% static 'images/cele.jpg' %}" alt="Celebration image">

                <div class="btn">
                                                    
                    <button type="button" class="btn btn-outline-primary">Accept</button>
                    
                </div>

            <h5 class="text-left">Ashok Thapa<br><p>By A.C Organization</p></h5>
            <p>Hello everybody, we have a upcoming event. Hope you will join and have some benefit<br>Date:2020/09/15</p>
            <img class="img-fluid" src="{% static 'images/events.jpg' %}" alt="Celebration image">
            <div class="btn">
                <button type="button" class="btn btn-outline-primary">Accept</button>
            </div>
        </div>
        <div class="col-lg-4 text-center">
                <h1 class="heading3">We Believe</h1><br>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/henry.jpg' %}" alt="Henry Ford">
                    <p><br>
                        Comming together is a beginning,<br>
                        Staying together is progress,<br>
                        and Working together is Success.<br><br>
                                            -Henry Ford<br><br><br>
                    </p>
                </div>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/helen.jpg' %}" alt="Henry Ford">
                    <p><br>
                        Alone we can do so little;<br>
                        together we can do so much.<br><br>
                        - Helen Keller<br><br><br>
                    </p>
                </div>
                <div class="text-center">
                    <img class="img-fluid1" src="{% static 'images/Phill.jpg' %}" alt="Phil Jakson">
                    <p><br>
                        The strength of the team is individual membe,;<br>
                        The strength of each member is the team.<br><br>
                        - Phil Jackson
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}
